body {
  font-family: 'Georgia', 'Arial', sans-serif;
}

.nav-link {
  &.active {
    background-color: #000;
  }

  &:hover {
    background-color: #000;
  }
}

.nav2 {
  position: absolute;
  right: 15px;
}

h1,
h2 {
  border-left: 5px #666 solid;
  border-bottom: 1px #666 solid;
  padding: 0 0 5px 10px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.col-md-3 {
  padding: 0;
}

#gallery img {
  width: 100%;
}

.photo {
  text-align: center;
  position: relative;
}

.photo,
.photo-hover,
.photo-img,
.photo-hover .mask,
.photo-info {
  width: 100%;
  height: 350px;
}

.photo-img,
.photo-hover,
.photo-hover .mask {
  position: absolute;
  top: 0;
  left: 0;
}

.photo-type-line {
  margin: 0 auto;
  .photo-hover {
    z-index: 100;
    transition: all 300ms ease-out;
    opacity: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: center;
    height: 100%;

    &:hover {
      opacity: 1;

      .line {
        width: 40%;
      }
    }
  }

  .photo-info {
    z-index: 10;
    color: #fff;
    //display: table-cell;
    vertical-align: middle;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .headline {
      font-size: 20px;
    }

    .line {
      height: 1px;
      width: 0;
      margin: 15px auto;
      background: #fff;
      transition: all 500ms ease-out;
    }
  }
  &:hover .mask {
    background: #000;
    filter: alpha(opacity=70);
    opacity: 0.7;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
}

.photo-img {
  background: #7a548f;
  z-index: 0;
}

.category-title {
  position: relative;
}

.float-right {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.edit-category {
  .photo {
    height: auto;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.edit-photo-img {
  margin-bottom: 25px;
}

footer {
  margin-top: 30px;
  height: 40px;
  background: #333;
  text-align: center;
  padding-top: 10px;
  width: 100%;

  p {
    color: #fff !important;
  }
}