<%= form_for @category do |f| %>
  <!--Check for errors-->
  <% if @category.errors.any? %>
    <% @category.errors.full_messages.each do |msg| %>
      <!--Show errors-->
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'col-form-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <br>
  <%= f.submit 'Submit', class:'btn btn-primary' %>
  <%= link_to 'Cancel', root_path, class: 'btn btn-default' %>
<% end %>