<h2>Edit Category</h2>
<div class="container">
  <%= render 'form', category: @category %>
</div>

<% if @images.present? %>
  <div class="container-fluid">
    <h2 class="mt-5">Images in <%= @category.name %></h2>
    <div class="row">
      <% @images.each do |image| %>
        <div class="col-md-2 col-sm-4 edit-category">
          <div class="photo photo-type-line">
            <div class="edit-photo-img">
              <%= image_tag rails_blob_path(image.main_image), class: 'img-fluid' %>
            </div>
          </div>
          <div class="buttons">
            <%= link_to 'Edit', edit_image_path(image), class: 'btn btn-warning' %>
            <%= link_to 'Delete', image_path(image), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
