<div id="gallery">
  <div class="category-title">
    <h2><%= @category.name %></h2>
    <small class="float-right"><%= link_to "Edit", edit_category_path(@category) %></small>
  </div>
  <div class="container-fluid">
    <% if @images.present? %>
      <div class="row">
        <% @images.each do |image| %>
          <div class="col-md-3 col-sm-6 imagebg" style="background: url('<%= rails_blob_path(image.main_image) %>'); background-size: cover;">
            <div class="photo photo-type-line">
              <a href="<%= rails_blob_path(image.main_image) %>" class="photo-hover image-fluid" data-lightbox="my-images" data-title="<%= image.image_title %>">
                <div class="photo-info">
                  <div class="headline"><%= image.image_title %></div>
                  <div class="line"></div>
                  <div class="description">
                    <%= image.image_description %>
                  </div>
                </div>
                <div class="mask"></div>
              </a>

            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
