<%= form_for @image, html: {multipart: true} do |f| %>
  <!--Check for errors-->
  <% if @image.errors.any? %>
    <% @image.errors.full_messages.each do |msg| %>
      <!--Show errors-->
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :image_title, class: 'col-form-label' %>
    <%= f.text_field :image_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :category, class: 'col-form-label' %>
    <%= f.select :category_id, Category.all.map {|x| [x.name, x.id]}, {include_blank: 'Select One'}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image_description, class: 'col-form-label' %>
    <%= f.text_field :image_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :main_image, class: 'col-form-label' %>
    <%= f.file_field :main_image, class: 'form-control' %>
  </div>

  <!--<div class="form-group">
      <%#= f.label :remote_image_url, 'or image url', class: 'col-form-label' %>
  <%#= f.text_field :remote_image_url, class: 'form-control' %>
    </div>-->
  <br>
  <%= f.submit 'Submit', class:'btn btn-primary' %>
  <%= link_to 'Cancel', root_path, class: 'btn btn-default' %>
<% end %>