<div id="gallery">
  <h2>All Images</h2>
  <div class="container-fluid">
    <% if @images %>
      <div class="row">
        <% @images.each do |image| %>
          <div class="col-md-3 col-sm-6 imagebg" style="background: url('<%= rails_blob_path(image.main_image) %>'); background-size: cover;">
            <div class="photo photo-type-line">
              <a href="<%= rails_blob_path(image.main_image) %>"
                 class="photo-hover image-fluid"
                 data-lightbox="my-images"
                 data-title="<%= image.image_title %>">
                <div class="photo-info">
                  <div class="headline"><%= image.image_title %></div>
                  <div class="line"></div>
                  <div class="description">
                    <%= image.image_description %>
                  </div>
                </div>
                <div class="mask"></div>
              </a>

            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
