<!DOCTYPE html>
<html>
  <head>
    <title>RGallery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: "nav-link #{@active}" %>
            </li>
            <% @categoryNav.each do |category| %>
              <li class="nav-item">
                <%= link_to category.name, category_path(category), class: "nav-link #{'active' if category.id == params[:id].to_i}" %>
              </li>
            <% end %>
          </ul>
          <ul class="navbar-nav nav2">
            <li class="nav-item">
              <%= link_to 'Upload Photo', upload_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Add Category', new_category_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="mt-5">
      <div class="container-fluid">
        <!--Alert & Messages-->
        <% if flash[:notice] %>
          <div class="alert alert-success"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>

        <%= yield %>
      </div>
    </section>


    <footer>
      <div class="container">
        <p class="text-center">Copyright &copy; 2022, rGallery</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="<%= asset_path('/js/lightbox.js') %>"></script>
  </body>
</html>
